<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../html/style.css">
    <title>singup
    </title>
</head>
<body>
    <nav id="logo-container">
        <img src="logo.png" class="logo1">
    </nav>
    <div id="bodyform">
    <div id="form_container ">
    <form>
        <p>REGISTRATION FORM</p>
        <div class="row clearfix">
          <div class="col_half">
            <div class="input_field"> 
              <input type="text" name="name" placeholder="First Name" />
            </div>
          </div>
          <div class="col_half">
            <div class="input_field"> 
              <input type="text" name="name" placeholder="Last Name" required />
            </div>
          </div>
          <div class="input_field"> 
            <input type="email" name="email" placeholder="Email" required />
          </div>
          <div class="input_field">
            <input type="password" name="password" placeholder="Password" required />
          </div>
        <input class="button" type="submit" value="Register" />
      </form>
    </div>
    </div>
</body>
</html>